<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>New Client</title>
</head>
<body>

<form action="/submitNewClientExam" >
    <p>
        <label for="name">First Name:</label>
        <input type="text" name="name" id="name">
    </p>
    <p>
        <label for="surname">Surname:</label>
        <input type="text" name="surname" id="surname">
    </p>
    <p>
        <label for="birthYear">Year of birth</label>
        <input type="date" name="birthYear" id="birthYear">
    </p>

    <div th:each="store, storeStat : ${storeArrayList}">
        <label th:for="${'store' + storeStat.index}" th:text="${store.name}">Store Name</label>
        <input type="radio" name="storeIndex" th:id="${'store' + storeStat.index}" th:value="${storeStat.index}" th:checked="${storeStat.index == 0}">
    </div>
    <p>
        <label for="visitPW">Expected weekly visit to the store:</label>
        <input type="text" name="visitPW" id="visitPW">
    </p>
    <p>
        <label for="employee">Responsible Employee:</label>
        <select id="employee" name="employeeIndex">
            <option value="" selected>Who is the contact person?</option>
            <option th:each="employee, employeeStat : ${employees}"
                    th:text="${employee.firstName} + ' ' + ${employee.surName}"
                    th:value="${employeeStat.index}"></option>
        </select>
    </p>

    <p>
        <input type="submit" name="submit" value="Continue and generate a carnumber" >
    </p>
</form>

<a th:href="@{/index}">Go back to the home page</a>
</body>
</html>