<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" href="img/style.css" />
    <title>Title</title>
</head>
<body>
<h1>Project Store</h1>
<h2>Mady by Tom Gijsbers</h2>
<p>test add sections</p>


<a th:href="@{/1_newClient}">New Client</a>
<a th:href="@{/3_newEmployee}">New Employee</a>
<a th:href="@{5_listEmployee}">List of employee's</a>
<a th:href="@{6_listClients}">List of clients</a>
<a th:href="@{7_newStore}">Add a new Store</a>
<a th:href="@{9_newSection}">Add a new Section</a>


</body>
</html>